<h1 class="title">Albums</h1>
<a href="http://localhost:3000/artists"><img src="/Logo2.png" id="logo-gem"></a>
<a href="http://localhost:3000/boxes"><img src="/musicbox.png" id="music-box-gem"></a>
<div id="body-gem">
	<img src="/violin.jpg" id="violin-gem">
	<div class="container">
			<ul id="list-gem">
				<% @albums.each do |album| %>
				<button class="buy-album" id="<%= album.id %>"><img src="/addtocartblue.png" id=""></button>
					<li><h4 class="album-gem"><%= album.name %></h4></li>
					<% if album.images[0] == nil %>
						<li>No hay imagen</li><br>
					<% else %>
						<li><img class="image-gem" src="<%= album.images[0]['url'] %>"></li><br>
					<% end %>

					<% album.tracks.each do |track| %>
						<li class="track-gem"><%= track.name %></li>
						<li class="track-gem"><audio src="<%= track.preview_url %>" controls ></audio></li>
					<% end %>
				<% end %>
			</ul>
		</div>
</div>
